* {
    box-sizing: border-box;
}
header {
    height: 110px;
    display: flex;
    align-items: center;
    padding-block: 10px;
}

html, body {
    margin: 0;
    padding: 0;
}

nav > a {
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    padding: 5px 20px;
    text-align: right;
}

header a:hover {
    color: #161616;
    text-decoration: underline;
}